
AUTH0_DOMAIN='XYZ.auth0.com'
AUTH0_CLIENTID='YouRClieNtId'
AUTH0_CLIENTSECRET='YouRClieNtSEcrET'
AUTH0_AUDIENCE='https://XYZ.auth0.com/api/v2/'
AUTH0_SCOPE='openid profile email'
# The user to authenticate
AUTH0_USERNAME='test@test.com'
AUTH0_PASSWORD='mypassword'